HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.mvn
.git
.log

/FQ/src/main/resources/rebel.xml
/learn-jpa/src/main/resources/rebel.xml
/learn-rabbitMQ/src/main/resources/rebel.xml
/learn-jpa/mvnw
/learn-jpa/mvnw.cmd

*/mvnw
*/mvnw.cmd
mvnw
mvnw.cmd

### 不需要git的项目
seata
seata-samples
LeetCode
JavaGuide
PassJava-Platform
RuoYi