<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="180">

	<properties>
		<property name="LOG_HOME">C:\Users\fengqing.UCREDIT\Desktop\LOGS\logs</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!--			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
			<!--			<PatternLayout pattern="%d{HH:mm:ss.SSS} %5p %-30.40logger{39} 【%-50m】 \(%F:%L\) [%t] %n"/>-->
			<!--			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p \(%F:%L\)#%-30M |||%m%n"/>-->
			<!--			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p %l  ||%r| %m%n"/>-->
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} %p \(%F:%L\)#%M [%t] %msg %n"/>-->
			<!--			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t]-%r %p \(%F:%L\)#%-30M ||| %m%n"/>-->
			<PatternLayout pattern="%d{HH:mm:ss.SSS}-%r %5p %-10c{1} [%t] %-50m \(%F:%L\)#%M %n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>